body {
    margin: 0;
    padding: 0;
    background-image: url(1337729.jpg);
    background-size: 200%;
    background-position: top;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 2px 2px 4px black;
    min-height: 100px;
}

h5 {
    border: 2px solid rgba(255, 196, 0, 0.671);
    padding: 5px;
    width: 185px;
    min-height: 15px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 196, 0, 0.247);
    border-radius: 15px;
}

.box {
    height: 150px;
    width: 300px;
    padding: 20px;
    padding-left: 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    position: absolute;
    bottom: 300px;
    right: 580px;
    display: flex;
    gap: 7px;
    align-items: center;
    height: 130px;
}