    h4 {
        border: 5px solid black;
        padding: 5px;
        width: 87px;
        border-radius: 20px;
        background-color: grey;
    }

    img {
        width: 150px;
        height: 150px;
        border-radius: 100px;
    }