body {
    font-family: italic;
    padding: 40px;
    border: 30px solid black;
}

p {
    color: blue;
    font-size: 16x;
}

p {
    color: red;
    font-weight: bold;
}

h2 {
    font-style: italic;
    color: white;
    background-color: black;
    width: 200px;
    border: 3px solid red;
}

h1 {
    font-style: italic;
    color: white;
    background-color: black;
    width: 200px;
    border: 3px solid red;
    
}

li {
    font-style: italic;
    color: black;
    padding: 5px 0;
}

h3 {
    padding: 5px;
    border: 10px solid black;
    width: 115px;
}

div {
    padding: 10px;
    border: 5px solid black;
    margin: auto;
    width: 150px;
    font-weight: bold;
}


