.produkt {
    height: 400px;
    width: 600px;
    padding-left: 250px;
    border: 5px solid black;
    padding: 10px;
    margin-left: 130px;
    margin-top: 1px;
}

.cena {
    border: 5px solid black;
    padding: 10px;
    margin-left: 754px;
    margin-top: -432px;
    width: 600px;
    font-size: 30px;
}

.opis {
    border: 5px solid black;
    padding: 10px;
    margin-top: -35px;
    width: 600px;
    height:342px;
    margin-left: 754px;
    font-size: 25px;
}

.kup {
    border: 2px solid black;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: -18px;
    margin-left: 130px;
    border-radius: 100px;
    transition: background-color 0.5s, color 0.5s;
    box-shadow: 0 0 20px grey;
    width: 1210px;
    font-size: 30px;
    text-align: center;
}

.kup:hover {
    color: white;
    background-color: black;
}

.kup:focus {
    outline: none;
    color: white;
    background-color: black;
}

.kup:active {
    text-decoration: underline;
}

.koszyk {
    border: 2px solid black;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 130px;
    border-radius: 100px;
    transition: background-color 0.5s, color 0.5s;
    box-shadow: 0px 0px 20px grey;
    width: 1210px;
    font-size: 30px;
    text-align: center;
}

.koszyk:hover {
    color: white;
    background-color: black;
}

.koszyk:focus {
    outline: none;
    color: white;
    background-color: black;
}

.koszyk:active {
    text-decoration: underline;
}
